################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/PortfolioServer.Test/coverage-history
/PortfolioServer.Test/coveragereport
